<!DOCTYPE html>
<html lang="en">

<head>
  <title>To Eat</title>

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

  <!-- External CSS - Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
      <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

<!-- local CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/add_task.css" type="text/css" />
  <link rel="stylesheet" href="/styles/todo.css" type="text/css" />


  <!-- Scripts -->
    <!-- pickdate -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src ="/scripts/alltasks.js"></script>
    <script src ="/scripts/showtask.js"></script>
    <script src ="/scripts/edittasks.js"></script>

</head>

<body>


  <!-- HEADER -->
  <%- include('partials/_header'); %>

    <main id='mainContainer'>

      <!-- SIDEBAR -->
      <%- include('partials/_sidebar'); %>
      <div class="mainContainer-todo">
        <!-- Adding task-->
        <%- include('partials/_add_task') %>

        <% for (const i of toEats) { %>
          <article class="showtask">
            <div class="card">
              <h2><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-coffee" href="#icon-coffee" /></svg>List</h2>
                <div class="dropdown">
                  <button class="dropbtn">Change Category</button>
                  <div class="dropdown-content">
                    <a href="#">Watch</a>
                    <a href="#">Eat</a>
                    <a href="#">Read</a>
                    <a href="#">Buy</a>
                  </div>
                </div>
                <ul>
                  <li>
                    <input type="checkbox" class ="checkbox" />
                    <div class="task_content" data-id="<%=i.id%>" data-title="<%=i.task_title%>" data-description="<%=i.task_description%>">
                      <h3 class="tasktitle"><%=i.task_title%></h3>
                      <p class="taskdes"><%=i.task_description%></p>
                    </div>
                    <button class="edit_button">Edit</button>
                    <form method="POST" action="/tasks/<%=i.id%>/delete">
                      <button>Delete</button>
                    </form>
                  </li>
                </ul>
            </div>
          </article>

          <article class="showtask">
            <div class="card">
              <div class="category">
                <h2><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-coffee" href="#icon-coffee" /></svg></h2>
                <div class="dropdown">
                  <button class="dropbtn">Watch List</button>
                  <div class="dropdown-content">
                    <a href="#">Watch List</a>
                    <a href="#">Eat List</a>
                    <a href="#">Read List</a>
                    <a href="#">Buy List</a>
                  </div>
                </div>
              </div>
              <div class="taskcontent">
                <div class="task_content" data-id="<%=i.id%>" data-title="<%=i.task_title%>" data-description="<%=i.task_description%>">
                  <div class="checkboxTitle">
                    <div class="checkbox" checked="checked">
                      <input type="checkbox"/>
                      <span class="checkmark"></span>
                    </div>
                      <h3 class="tasktitle"><%=i.task_title%></h3>
                  </div>
                  <p class="taskdes"><%=i.task_description%></p>
                  <div class="date">
                    <p><%=i.end_date%></p>
                  </div>
                </div>
                <div class="button-group">
                  <button class="edit_button">Edit</button>
                  <form method="POST" action="/tasks/<%=i.id%>/delete">
                    <button>Delete</button>
                  </form>
                </div>
              </div>
          </article>
        <% } %>

      </div>

    </main>

</body>

</html>
