<!DOCTYPE html>
<html lang="en">

<head>
  <title>To Eat</title>

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

  <!-- External CSS - Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
      <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

<!-- local CSS -->
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/add_task.css" type="text/css" />
<link rel="stylesheet" href="/styles/todo.css" type="text/css" />
<link rel="stylesheet" href="/styles/show_task.css" type="text/css" />
<!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->

  <!-- Scripts -->
    <!-- pickdate -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src ="/scripts/alltasks.js"></script>
    <script src ="/scripts/showtask.js"></script>
    <script src ="/scripts/edittasks.js"></script>

</head>

<body>


  <!-- HEADER -->
  <!-- <%- include('partials/_header'); %> -->

    <main id='mainContainer'>

      <!-- SIDEBAR -->
      <%- include('partials/_sidebar'); %>
      <div class="mainContainer-todo">
        <!-- Adding task-->


        <% for (const i of toEats) { %>

          <article class="showtask">
            <div class="card">
              <div class="category">
                <div class="dropdown">
                  <button class="dropbtn"><?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35px" height="35px" viewBox="0 0 35 35" version="1.1">
                    <g id="surface1">
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 10.859375 0.0117188 C 9.753906 -0.09375 8.726562 0.585938 8.445312 1.660156 L 7.433594 5.503906 C 20.257812 5.882812 28.933594 14.433594 29.476562 27.175781 L 33.371094 26.097656 C 34.445312 25.800781 35.113281 24.75 34.984375 23.644531 C 33.558594 11.285156 23.296875 1.183594 10.859375 0.0117188 Z M 6.863281 7.667969 L 0.0390625 33.609375 C -0.0625 33.992188 0.046875 34.398438 0.332031 34.679688 C 0.613281 34.957031 1.023438 35.0625 1.40625 34.957031 L 27.3125 27.773438 C 27.019531 15.820312 18.898438 7.804688 6.863281 7.667969 Z M 8.75 28.4375 C 7.542969 28.4375 6.5625 27.457031 6.5625 26.25 C 6.5625 25.042969 7.542969 24.0625 8.75 24.0625 C 9.957031 24.0625 10.9375 25.042969 10.9375 26.25 C 10.9375 27.457031 9.957031 28.4375 8.75 28.4375 Z M 12.03125 18.046875 C 10.824219 18.046875 9.84375 17.066406 9.84375 15.859375 C 9.84375 14.652344 10.824219 13.671875 12.03125 13.671875 C 13.238281 13.671875 14.21875 14.652344 14.21875 15.859375 C 14.21875 17.066406 13.238281 18.046875 12.03125 18.046875 Z M 19.140625 25.15625 C 17.933594 25.15625 16.953125 24.175781 16.953125 22.96875 C 16.953125 21.761719 17.933594 20.78125 19.140625 20.78125 C 20.347656 20.78125 21.328125 21.761719 21.328125 22.96875 C 21.328125 24.175781 20.347656 25.15625 19.140625 25.15625 Z M 19.140625 25.15625 "/>
                    </g>
                    </svg><% if(i.category_id === 1) { %>
                    <%="Watch List"%>
                    <% } else if (i.category_id === 2) { %>
                    <%="Eat List"%>
                    <% } else if (i.category_id === 3) { %>
                    <%="Read List"%>
                    <% } else if (i.category_id === 4) { %>
                    <%="Buy List"%>
                    <% } %>
                  </button>
                  <div class="dropdown-content" id="<%=i.id%>">
                    <a data-category="1" href="#">Watch List</a>
                    <a data-category="2" href="#">Eat List</a>
                    <a data-category="3" href="#">Read List</a>
                    <a data-category="4" href="#">Buy List</a>
                  </div>
                </div>
              </div>
              <div class="taskcontent">
                <div class="task_content" data-id="<%=i.id%>" data-title="<%=i.task_title%>" data-description="<%=i.task_description%>">
                  <div class="checkboxTitle">
                    <div class="checkbox" id="<%=i.id%>" checked="checked">
                      <input type="checkbox"/>
                      <span class="checkmark"></span>
                    </div>
                      <h3 class="tasktitle"><%=i.task_title%></h3>
                  </div>
                  <p class="taskdes"><%=i.task_description%></p>
                  <div class="date">
                    <p><% if(i.end_date) { %>
                      <%=i.end_date.toDateString() %>
                      <% } %>
                    </p>
                  </div>
                </div>
                <div class="button-group edit_button">
                  <button class="edit_button">Edit</button>
                  <form method="POST" action="/tasks/<%=i.id%>/delete">
                    <button>Delete</button>
                  </form>
                </div>
              </div>
          </article>
        <% } %>

      </div>

    </main>

</body>

</html>
