<!DOCTYPE html>
<html lang="en">

<head>
  <title>TODO List Home Page</title>

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

  <!-- External CSS - Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
      <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- local CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/add_task.css" type="text/css" />
  <link rel="stylesheet" href="/styles/todo.css" type="text/css" />
  <link rel="stylesheet" href="/styles/show_task.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->


  <!-- Scripts -->
    <!-- pickdate -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src ="/scripts/alltasks.js"></script>
    <script src ="/scripts/showtask.js"></script>
    <script src ="/scripts/edittasks.js"></script>


</head>

<body>
<!-- background -->
<!-- <%- include('./partials/_header') %> -->
<div class="background--custom">

    <main id='mainContainer'>

      <!-- SIDEBAR -->
      <%- include('partials/_sidebar'); %>
      <div class="mainContainer-todo">

        <%- include('partials/_add_task') %>

        <div class="show-task">
        <% for (const i of tasks) { %>

          <article class="showtask">
            <div class="card">
              <div class="category">
                <div class="dropdown">
                  <button class="dropbtn">
                    <% if(i.category_id === 1) { %>
                      <%- include('partials/_watch_icon') %>
                    <%="Watch List"%>
                    <% } else if (i.category_id === 2) { %>
                      <%- include('partials/_eat_icon') %> <%="Eat List"%>
                    <% } else if (i.category_id === 3) { %><?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35px" height="40px" viewBox="0 0 35 40" version="1.1">
                    <g id="surface1">
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 35 28.125 L 35 1.875 C 35 0.835938 34.164062 0 33.125 0 L 7.5 0 C 3.359375 0 0 3.359375 0 7.5 L 0 32.5 C 0 36.640625 3.359375 40 7.5 40 L 33.125 40 C 34.164062 40 35 39.164062 35 38.125 L 35 36.875 C 35 36.289062 34.726562 35.757812 34.304688 35.414062 C 33.976562 34.210938 33.976562 30.78125 34.304688 29.578125 C 34.726562 29.242188 35 28.710938 35 28.125 Z M 10 10.46875 C 10 10.210938 10.210938 10 10.46875 10 L 27.03125 10 C 27.289062 10 27.5 10.210938 27.5 10.46875 L 27.5 12.03125 C 27.5 12.289062 27.289062 12.5 27.03125 12.5 L 10.46875 12.5 C 10.210938 12.5 10 12.289062 10 12.03125 Z M 10 15.46875 C 10 15.210938 10.210938 15 10.46875 15 L 27.03125 15 C 27.289062 15 27.5 15.210938 27.5 15.46875 L 27.5 17.03125 C 27.5 17.289062 27.289062 17.5 27.03125 17.5 L 10.46875 17.5 C 10.210938 17.5 10 17.289062 10 17.03125 Z M 29.796875 35 L 7.5 35 C 6.117188 35 5 33.882812 5 32.5 C 5 31.125 6.125 30 7.5 30 L 29.796875 30 C 29.648438 31.335938 29.648438 33.664062 29.796875 35 Z M 29.796875 35 "/>
                    </g>
                    </svg>
                    <%="Read List"%>
                    <% } else if (i.category_id === 4) { %><?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="35px" viewBox="0 0 20 35" version="1.1">
                    <g id="surface1">
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 14.527344 15.953125 L 7.027344 13.796875 C 6.160156 13.546875 5.554688 12.75 5.554688 11.859375 C 5.554688 10.746094 6.472656 9.84375 7.605469 9.84375 L 12.207031 9.84375 C 13.054688 9.84375 13.890625 10.097656 14.582031 10.5625 C 15.007812 10.84375 15.578125 10.773438 15.9375 10.425781 L 18.355469 8.101562 C 18.847656 7.628906 18.777344 6.84375 18.230469 6.425781 C 16.527344 5.113281 14.402344 4.382812 12.222656 4.375 L 12.222656 1.09375 C 12.222656 0.492188 11.722656 0 11.109375 0 L 8.890625 0 C 8.277344 0 7.777344 0.492188 7.777344 1.09375 L 7.777344 4.375 L 7.605469 4.375 C 3.179688 4.375 -0.375 8.113281 0.0351562 12.550781 C 0.328125 15.703125 2.769531 18.265625 5.855469 19.15625 L 12.972656 21.203125 C 13.839844 21.457031 14.445312 22.25 14.445312 23.140625 C 14.445312 24.253906 13.527344 25.15625 12.394531 25.15625 L 7.792969 25.15625 C 6.945312 25.15625 6.109375 24.902344 5.417969 24.4375 C 4.992188 24.15625 4.421875 24.226562 4.0625 24.574219 L 1.644531 26.898438 C 1.152344 27.371094 1.222656 28.15625 1.769531 28.574219 C 3.472656 29.886719 5.597656 30.617188 7.777344 30.625 L 7.777344 33.90625 C 7.777344 34.507812 8.277344 35 8.890625 35 L 11.109375 35 C 11.722656 35 12.222656 34.507812 12.222656 33.90625 L 12.222656 30.609375 C 15.457031 30.550781 18.492188 28.65625 19.5625 25.640625 C 21.054688 21.429688 18.546875 17.109375 14.527344 15.957031 Z M 14.527344 15.953125 "/>
                    </g>
                    </svg>
                    <%="Buy List"%>
                    <% } %>
                  </button>
                  <div class="dropdown-content" id="<%=i.id%>">
                    <a data-category="1" href="#">Watch List</a>
                    <a data-category="2" href="#">Eat List</a>
                    <a data-category="3" href="#">Read List</a>
                    <a data-category="4" href="#">Buy List</a>
                  </div>
                </div>
              </div>
              <div class="taskcontent">
                <div class="task_content" data-id="<%=i.id%>" data-title="<%=i.task_title%>" data-description="<%=i.task_description%>">
                  <div class="checkboxTitle">

                    <div class="checkbox" id="<%=i.id%>" checked="checked">

                      <input type="checkbox" />
                      <span class="checkmark"></span>

                    </div>

                      <h3 class="tasktitle"><%=i.task_title%></h3>
                  </div>
                  <p class="taskdes"><%=i.task_description%></p>
                  <div class="date">
                    <p><% if(i.end_date) { %>
                      <%=i.end_date.toDateString() %>
                      <% } %>
                    </p>
                  </div>
                </div>
                <div class="button-group edit_button">
                  <button >Edit</button>
                  <form method="POST" action="/tasks/<%=i.id%>/delete">
                    <button>Delete</button>
                  </form>
                </div>
              </div>
          </article>
        <% } %>
      </div>

    </main>
</div>
</body>

</html>
