<!DOCTYPE html>
<html lang="en">

<head>
  <title>To Watch</title>

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

  <!-- External CSS - Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
      <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>


<!-- local CSS -->
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/add_task.css" type="text/css" />
<link rel="stylesheet" href="/styles/todo.css" type="text/css" />
<link rel="stylesheet" href="/styles/show_task.css" type="text/css" />
<!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->


  <!-- Scripts -->
    <!-- pickdate -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src ="/scripts/alltasks.js"></script>
    <script src ="/scripts/showtask.js"></script>
    <script src ="/scripts/edittasks.js"></script>

</head>

<body>


  <!-- HEADER -->
  <%- include('partials/_header'); %>

    <main id='mainContainer'>

      <!-- SIDEBAR -->
      <%- include('partials/_sidebar'); %>
      <div class="mainContainer-todo">
        <!-- Adding task-->

        <% for (const i of toWatchs) { %>


          <article class="showtask">
            <div class="card">
              <div class="category">

                <div class="dropdown">
                  <button class="dropbtn"><?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35px" height="28px" viewBox="0 0 35 28" version="1.1">
                    <g id="surface1">
                    <path fill="var(--color-dark)" style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 32.375 0 L 2.625 0 C 1.175781 0 0 1.175781 0 2.625 L 0 20.125 C 0 21.574219 1.175781 22.75 2.625 22.75 L 15.75 22.75 L 15.75 24.5 L 6.125 24.5 C 5.640625 24.5 5.25 24.890625 5.25 25.375 L 5.25 27.125 C 5.25 27.609375 5.640625 28 6.125 28 L 28.875 28 C 29.359375 28 29.75 27.609375 29.75 27.125 L 29.75 25.375 C 29.75 24.890625 29.359375 24.5 28.875 24.5 L 19.25 24.5 L 19.25 22.75 L 32.375 22.75 C 33.824219 22.75 35 21.574219 35 20.125 L 35 2.625 C 35 1.175781 33.824219 0 32.375 0 Z M 31.5 19.25 L 3.5 19.25 L 3.5 3.5 L 31.5 3.5 Z M 31.5 19.25 "/>
                    </g>
                    </svg><% if(i.category_id === 1) { %>
                    <%="Watch List"%>
                    <% } else if (i.category_id === 2) { %>
                    <%="Eat List"%>
                    <% } else if (i.category_id === 3) { %>
                    <%="Read List"%>
                    <% } else if (i.category_id === 4) { %>
                    <%="Buy List"%>
                    <% } %>
                  </button>
                  <div class="dropdown-content" id="<%=i.id%>">
                    <a data-category="1" href="#">Watch List</a>
                    <a data-category="2" href="#">Eat List</a>
                    <a data-category="3" href="#">Read List</a>
                    <a data-category="4" href="#">Buy List</a>
                  </div>
                </div>
              </div>
              <div class="taskcontent">
                <div class="task_content" data-id="<%=i.id%>" data-title="<%=i.task_title%>" data-description="<%=i.task_description%>">
                  <div class="checkboxTitle">
                    <div class="checkbox" id="<%=i.id%>" checked="checked">
                      <input type="checkbox"/>
                      <span class="checkmark"></span>
                    </div>
                      <h3 class="tasktitle"><%=i.task_title%></h3>
                  </div>
                  <p class="taskdes"><%=i.task_description%></p>
                  <div class="date">
                    <p><% if(i.end_date) { %>
                      <%=i.end_date.toDateString() %>
                      <% } %>
                    </p>
                  </div>
                </div>
                <div class="button-group edit_button">
                  <button class="edit_button">Edit</button>
                  <form method="POST" action="/tasks/<%=i.id%>/delete">
                    <button>Delete</button>
                  </form>
                </div>
              </div>
          </article>
        <% } %>

      </div>

    </main>

</body>

</html>
